<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Supermercado</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <h1>Supermercado</h1>
      </div>

      <div class="search-bar">
        <input type="text" placeholder="Buscar producto, marca o categoría">
        <button><i class="fas fa-search"></i></button>
      </div>

      <div class="header-actions">
        <span class="user">👋 Hola, <b>PrimerUsu</b></span>
        <a href="{{ url_for('auth.logout') }}" class="btn logout">Cerrar Sesión</a>

        <a href="#" class="btn carrito"><i class="fas fa-shopping-cart"></i> Carrito</a>
      </div>
    </header>



    <main class="main-container">
      <!-- Sidebar categorías -->
      <aside class="sidebar">
        <h2>Categorías</h2>
        <ul>
          {% for id_categoria, nombre_cat in categorias %}
          <li>
            <a
              href="{{ url_for('productos.productos_por_categoria', id_categoria=id_categoria) }}"
            >
              {{ nombre_cat }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </aside>

      <!-- Productos en cards -->
      <section class="productos">
        <h2>Productos</h2>
        <div class="productos-grid">
          {% for p in productos %}
          <div class="card">
            <h3>{{ p[1] }}</h3>
            <!-- nombre_prod -->
            <p>{{ p[2] }}</p>
            <!-- descripcion -->
            <p><strong>${{ p[3] }}</strong></p>
            <!-- precio -->
            <form method="POST" action="/carrito/agregar">
              <input type="hidden" name="id_producto" value="{{ p[0] }}" />
              <input
                type="number"
                name="cantidad"
                value="1"
                min="1"
                max="{{ p[4] }}"
              />
              <button type="submit">Agregar al carrito</button>
            </form>
          </div>
          {% endfor %}
        </div>
      </section>
    </main>

    <footer>&copy; 2025 Supermercado Online</footer>
  </body>
</html>
