<!-- <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ventas Realizadas</title>
</head>
<body>
    <h1>Ventas Realizadas</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Fecha</th>
            <th>Total</th>
        </tr>
        {% for v in ventas %}
        <tr>
            <td>{{ v.id_venta }}</td>
            <td>{{ v.id_producto }}</td>
            <td>{{ v.cantidad }}</td>
            <td>{{ v.fecha_venta }}</td>
            <td>${{ v.total }}</td>
        </tr>
        {% endfor %}
    </table>

    <a href="/">Volver</a>
</body>
</html> -->
<h2>Total de ventas: ${{ total_ventas }}</h2>

<table>
  <tr>
    <th>ID Venta</th>
    <th>Fecha</th>
    <th>Total</th>
    <th>ID Usuario</th>
  </tr>
  {% for venta in ventas %}
  <tr>
    <td>{{ venta[0] }}</td>
    <td>{{ venta[1] }}</td>
    <td>{{ venta[2] }}</td>
    <td>{{ venta[3] }}</td>
  </tr>
  {% endfor %}
</table>
